.pointer {
  cursor: pointer;
}

.extra-space {
  padding-left: 10px;
}

#title {
  -webkit-transform: scale(1, 5);
}

font-family: 'Poiret One', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Electrolize', sans-serif;